<div class="mt-7 bg-base-200 rounded-lg shadow p-4 sm:p-7 gap-4">
  <div class="text-center">
    <div class="inline-flex items-center gap-x-4 text-2xl font-bold dark:text-white">
      My app
    </div>
    <p class="mt-2 text-sm ">
      Don't have an account yet?

      <%= link_to "Sign up", new_user_registration_path, class: "link link-primary" %>
    </p>
  </div>

  <% if devise_mapping.try(:omniauthable?) %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-neutral" do %>
        <i class="fa-brands fa-<%= provider %> text-primary"></i>
        Log in with <%= provider.to_s.titleize %>
      <% end %>
    <% end %>

    <div class="divider">OR</div>
  <% end %>

  <%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
    <div class="flex flex-col gap-4 mt-4">
      <label class="form-control flex flex-col gap-2">
        <%= f.label :email, class: "label text-sm" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input w-full" %>
      </label>

      <label class="form-control flex flex-col gap-2">
        <%= f.label :password, class: "label text-sm" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "input w-full" %>

        <%= link_to "Forgot password?", new_password_path(resource_name), class: "link link-primary text-sm" %>
      </label>

      <% if devise_mapping.rememberable? %>
        <div class="form-control">
          <label class="cursor-pointer label self-start gap-2">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </label>
        </div>
      <% end %>

      <%= f.submit "Sign in", class: "btn btn-primary mt-4" %>
    </div>
  <% end %>
</div>
